.jumbotron {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

.jumbotron::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* efek gelap agar teks terlihat */
    z-index: 0;
}

.jumbotron > * {
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.jumbotron p {
    font-size: 20px;
}

.jumbotron hr {
    border-color: white;
    width: 150px;
    margin: 20px auto;
    border-width: 2px;
}

/*Akhir Jumbotron*/

/*Navbar*/
.navbar {
	margin-top: -32px;
}

.navbar .navbar-nav .nav-link {
	color: white;
}

.navbar .navbar-nav .nav-link:hover {
	color: orange;
}

.navbar .navbar-brand  {
	font-size: 30px;
}
/*Akhir Navbar*/

/*Footer*/
.footer {
	margin-top: 150px;
	border-width: 3px;
}

.footer-body {
	margin-top: 60px;
	margin-bottom: 50px;
}
/*Akhir Footer*/

/*Home*/
.judul {
	margin-bottom: 120px;
}

.card-img:hover {
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);	
}

/*Akhir Home*/